@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,600;1,700&display=swap');
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    line-height: 1.5em;
    background-color: #7e6a6c62;
    
}
body.index{
    background-color: #DAD9D3;
}

section p,h1{
    
    font-weight: 800;
    font-style: italic;
    padding-left: 30px;
    font-size: 1.5em;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    color: #755a47;
    text-align: center;
    font-size: 2.5em;
    margin-top: 150px;
    font-weight: bold;
}

main{
    padding: 20px;
    margin: 75px 0 75px 0;
    
}
a{
    text-decoration: none;
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
}
a:hover{
    color: rgb(71, 7, 7);
    text-decoration: underline;
}
td,th{
    padding: 7px;
    text-align: center;
    font-size: 1em;
}
img{
    width: 30%;
    height: 200px;
    margin: 10px;
    box-shadow: 1px 2px 2px 2px gray;
    border-radius: 10%;
}
.item{
    width: 100%;
    padding:0;
    margin:0;
    text-align: center;
}

.img-container{
    padding:25px;
    margin-top: 150px;
    background-color: #dad9d3bd;
    border-radius: 20px;
    width: 55%;
    margin: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 1px 2px 2px 4px #4b3f4188;
}
.text-container{
    width: 55%;
    margin: auto ;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.4em;
    color: #49393b;
}
header nav{
    background-color: #806655;
    margin: 0;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}
nav ul{
    margin: 0;
    padding: 0 50px;
    display: flex;
    
    list-style-type: none;
}
li a{
    text-decoration: none;
    color:  #dad9d3d0;
}
li a:hover{
    color: rgba(0, 0, 0, 0.521);
}
nav li{
    margin: auto;
}
section{
    width: 55%;
    text-align: center;
    margin: auto;
    color: #49393b;
}
section ul{
    list-style: none;
    background-color: #dad9d3bd;
    box-shadow: 1px 2px 2px 4px #4b3f4188;
    width: 30%;
    border-radius: 10%;
    margin: auto;
}
section li{
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: left;
    padding-left: 20px;
    
   
}
footer nav{
    background-color: #3a2d25c2;
    margin: 0;
    padding: 10px;
    height: 15vh;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer nav ul{
    margin: 0;
    padding: 0 50px;
    
   
    
    list-style: none;
}
footer li a{
    text-decoration: none;
    color:  #dad9d3d0;
}
footer li a:hover{
    color: rgba(0, 0, 0, 0.521);
}
footer nav li span{
    font-size: 1.8em;
    color: rgba(0, 0, 0, 0.664);
    text-decoration: underline;

}
footer nav li{
    color:  #dad9d3d0;
    margin: 20px;
    
    font-size: .8em;
    font-style: italic;
    font-weight: bold;
}
nav{
    box-shadow: 1px -1px 2px 2px rgba(117, 114, 114, 0.842);
}